{% extends "mentor/mentorbase.html" %}
{% block content %}
    <body>
    <div style="padding-top:50px;min-height: 700px">
        <div class="container widthFull">
            {% if session['role'] == 1 %}
			<button class="btn btn-primary"  style="margin-top: 20px;margin-bottom: 20px"  onclick="addNewProjectOrupdate()">Add new Project</button>
            {% endif %}
            <table id="myTableOne" class="display">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Project Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">number of students</th>
                    <th scope="col">project type</th>
                    <th scope="col">start date</th>
                    <th scope="col">end date</th>
                    <th scope="col">remain number of students</th>
                    <th scope="col">company name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

			
        </div>
    </div>
    <script>
        var btn = []
        {% if session['role'] ==0 %}
            btn = [{
                "btnName": "Preferred Students",
                "func": "checkPreferredStudent"
            }
            ]
        {% endif %}
        {% if session['role'] ==1 %}
            btn = [{
                "btnName": "Preferred Students",
                "func": "checkPreferredStudent"
             },
                {

                "btnName": "Edit",
                "func": "addNewProjectOrupdate"
            },
            {
                "btnName": "Skills",
                "func": "updateSkill"
            }];
        {% endif %}


        $(function () {
            renderDataTable('#myTableOne', '/mentor/getProjectAllJson', [
                {"data": null},
                {"data": "project_title"},
                {"data": "description"},
                {"data": "number_of_student"},
                {"data": "type_name"},
                {"data": "start_date"},
                {"data": "end_date"},
                {"data": "remain_number_of_student"},
                {"data": "company_name"},
            ], true, true, 9, btn);

        })

    </script>
    <!-- //footer -->
    </body>

{% endblock %}